@require 'reeeset/src/reeeset.css'
@require 'settings'
@require 'framework'
@require 'header'
@require 'gallery'
@require 'lazyify'
@require 'footer'
@require 'page-index'

.gallery-after
  display: none

.gallery-before
  display: none

@font-face
  font-family: VisbyCF-Bold
  src: url(/font/VisbyCF-Bold.otf)

@font-face
  font-family: VisbyCF-BoldOblique
  src: url(/font/VisbyCF-BoldOblique.otf)

@font-face
  font-family: VisbyCF-DemiBold
  src: url(/font/VisbyCF-DemiBold.otf)

@font-face
  font-family: VisbyCF-DemiBoldOblique
  src: url(/font/VisbyCF-DemiBoldOblique.otf)

@font-face
  font-family: VisbyCF-ExtraBold
  src: url(/font/VisbyCF-ExtraBold.otf)

@font-face
  font-family: VisbyCF-ExtraBoldOblique
  src: url(/font/VisbyCF-ExtraBoldOblique.otf)

@font-face
  font-family: VisbyCF-Heavy
  src: url(/font/VisbyCF-Heavy.otf)

@font-face
  font-family: VisbyCF-HeavyOblique
  src: url(/font/VisbyCF-HeavyOblique.otf)

@font-face
  font-family: VisbyCF-Light
  src: url(/font/VisbyCF-Light.otf)

@font-face
  font-family: VisbyCF-LightOblique
  src: url(/font/VisbyCF-LightOblique.otf)

@font-face
  font-family: VisbyCF-Medium
  src: url(/font/VisbyCF-Medium.otf)

@font-face
  font-family: VisbyCF-MediumOblique
  src: url(/font/VisbyCF-MediumOblique.otf)

@font-face
  font-family: VisbyCF-Regular
  src: url(/font/VisbyCF-Regular.otf)

@font-face
  font-family: VisbyCF-RegularOblique
  src: url(/font/VisbyCF-RegularOblique.otf)

@font-face
  font-family: VisbyCF-Thin
  src: url(/font/VisbyCF-Thin.otf)

@font-face
  font-family: VisbyCF-ThinOblique
  src: url(/font/VisbyCF-ThinOblique.otf)

html
  font-family: VisbyCF-Regular
