@require 'reeeset/src/reeeset.css'

@require 'settings'
@require 'font'

@require 'framework'
@require 'base'
@require 'header'
@require 'footer'
@require 'inputs'
@require 'gallery'
@require 'lazyify'

@require 'page-index'
@require 'page-legal'
