@require 'reeeset/src/reeeset.css'

@require 'settings'

@require 'framework'
@require 'header'
@require 'gallery'
@require 'lazyify'
@require 'footer'

@require 'page-index'

.gallery-after
  display: none
.gallery-before
  display: none
