footer
  display: table
  width: 100vw
  height: 100%
  background: #57B196;
  background: -webkit-linear-gradient(to bottom, #57B196, #67b19a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #57B196, #67b19a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid #9cbab1

  nav
    max-width: 800px
    padding: 30px
    margin: auto
    text-align: left
    line-height: 2em

    .left
      column: 1/2

    .right
      column: 1/2

    a
      color: #58756b
      column: 1/1
      padding: 8px

      &:hover
        color: #9efce0

    span
      font-weight: 500
      color: white
      column: 1/1
      padding: 8px

    small
      column: 1/1
      color: gray
      padding-bottom: 30px
      padding-left: 8px
