footer
  display: table

  .logo
    float: left

    img
      height: 50px
      margin: 10px 20px


  .social
    float: right

    ul
      list-style: none

      li
        margin: 0
        display: block
        float: left
        height: 30px
        line-height: 2em
        margin: 20px 20px 20px 0
    a
      span
        margin-left: 10px

  small
    display:inline-block
    left: 0
    right: 0
    margin: 0 auto
    line-height: 2em
    margin: 20px
