input
  height: 32px
  border: 1px solid $textColor1
  outline: 0
  background: none
  transition: all $transitionSpeed ease-in-out
  color: $textColor2

  &::-webkit-input-placeholder /* Chrome/Opera/Safari */
    color: $textColor1
  &::-moz-placeholder /* Firefox 19+ */
    color: $textColor1
  &:-ms-input-placeholder /* IE 10+ */
    color: $textColor1
  &:-moz-placeholder /* Firefox 18- */
    color: $textColor1

  &:focus
    border-color: $inputBorderColor1

button
  height: 2rem
  font-size: 1rem
  vertical-align: bottom
  line-height: .4rem
  background-color: $accentColor1
  border: 1px solid $accentColor1
  color: $textColor2
  transition: all $transitionSpeed ease-in-out

  &:hover
    background-color: $accentColor1
