.gallery-after
  display: none

.gallery-before
  display: none

body
  font-family: VisbyCF-Regular

header
  a#home
    margin: 20px

footer
  small
    bottom: 20px
    right: 20px
    left: auto
    margin: 0
    position: absolute
    color: $textColor1

.hero
  min-height: 100vh
