#page-index
  .image1
    background-image: url(http://placekitten.com/2000/1000)
    background-size: cover

  .image2
    background-image: url(http://placekitten.com/2000/1500)
    background-size: cover

