#page-index
  .hero
    color: $textColor1
    text-shadow: 2px 2px $textShadowColor1

  .content
    text-align: center

  .image1
    background-image: url(/img/152970156.jpg)
    background-size: cover

  .image2
    background-image: url(/img/155438494.jpg)
    background-size: cover

  .image3
    background-image: url(/img/175212265.jpg)
    background-size: cover

  .image4
    background-image: url(/img/186845309.jpg)
    background-size: cover

  .image5
    background-image: url(/img/187033628.jpg)
    background-size: cover

  .image6
    background-image: url(/img/524860753.jpg)
    background-size: cover

  .image7
    background-image: url(/img/527693755.jpg)
    background-size: cover

  .image8
    background-image: url(/img/528182997.jpg)
    background-size: cover

  .image9
    background-image: url(/img/531189111.jpg)
    background-size: cover

  .image10
    background-image: url(/img/531290959.jpg)
    background-size: cover

  .image11
    background-image: url(/img/583723296.jpg)
    background-size: cover

  .image12
    background-image: url(/img/604366914.jpg)
    background-size: cover

  .image13
    background-image: url(/img/640307210.jpg)
    background-size: cover

  .image14
    background-image: url(/img/670277724.jpg)
    background-size: cover

  .image15
    background-image: url(/img/670280360.jpg)
    background-size: cover
