extends _layout.pug

block content
  #page-index
    .overlay
    section.hero.gallery(data-fade='true',data-autoplay='6000')
      .content
        h1 Find your perfect foundation match
        p.
          We believe every woman deserves foundation that’s as unique as she is and perfectly matches her skin tone.
          Our innovative platform powered by computer vision and machine learning finds your perfect foundation match in just a few minutes with a snap of a selfie.
        br
        p.
          No more guessing games. No more trial and error. No more money wasted on the wrong shades. Get your perfect foundation match and let your beauty shine.
        br

        form
          label(for="email") Subscribe and be one of the first beauties who find their true match!
          br
          br
          script(src="//api.hanzo.io/mailinglist/j5uYuGN9Kp/js")
          input(type="text", id="email", name="email", placeholder="Enter your email")
          button(class="submit btn" type="submit" value="submit") Subscribe

      section.full.image15
      section.full.image1
      section.full.image2
      section.full.image3
      section.full.image5
      section.full.image8
      section.full.image9
      section.full.image10
      section.full.image17
